<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>parse project</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">
        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
        <!-- build:css styles/vendor.css -->
        <!-- bower:css -->

        <!-- endbower -->
        <!-- endbuild -->
        <!-- build:css(.tmp) styles/main.css -->
        <link rel="stylesheet" href="styles/main.css">
        <!-- endbuild -->
        <script src="bower_components/modernizr/modernizr.js"></script>

    </head>
    <body>
        <!--[if lt IE 10]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->


        <div class="container">
            <div class="header">
                <h3 class="text-muted">parse project</h3>
                <button type="button" class="login-btn btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Login</button>
            </div>
            <div class="row login">
                <div class="col-md-4 col-md-offset-5">
                  
                     <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                       <div class="modal-dialog">
                         <div class="modal-content">
                           <div class="modal-header">
                             <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                             <h4 class="modal-title" id="myModalLabel">Sign Up</h4>
                           </div>
                           <div class="modal-body">
                                <form class="form-horizontal" role="form">
                                  <div class="form-group">
                                    <label class="col-sm-2 control-label">Name</label>
                                    <div class="col-sm-10">
                                      <input type="text" class="form-control js-username" placeholder="username">
                                   </div>
                                    <label class="col-sm-2 control-label">Password</label>
                                    <div class="col-sm-10">
                                      <input type="text" class="form-control js-password" placeholder="password">
                                   </div>
                                    <label class="col-sm-2 control-label">Email</label>
                                    <div class="col-sm-10">
                                      <input type="email" class="form-control js-email" placeholder="email">
                                   </div>
                                 </div>
                                </form>
                           </div>
                           <div class="modal-footer">
                             <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                             <button type="button" class="btn btn-primary modal-save-btn" data-dismiss="modal">Save changes</button>
                           </div>
                         </div>
                       </div>
                     </div>
                </div>
            </div>
            <div class="row top-row">
                <div class="col-md-10 col-md-offset-1 main">
                    <div class="input-group">
                        <input type="text" class="form-control js-input-text">
                        <span class="input-group-btn">
                            <button class="btn btn-default js-input-btn" type="button">Go!</button>
                        </span>
                    </div>
            </div>
            <div class="row list-row">
                <div class="col-md-10 list-main">
                    <div class="todo-item"></div>
                </div>
            </div>

            </div> <!-- end row top row -->
        </div> <!-- end of container -->

        <script type="text/template" id="list-template">
          <div class="list-item">
            <h4><%= item-name %></h4>
            <h4><%= this.model('.username') %><h4>
          </div> 
        </script>



        <!-- build:js scripts/vendor.js -->
        <!-- bower:js -->
        <script src="bower_components/jquery/jquery.js"></script>
        <script src="bower_components/underscore/underscore.js"></script>
        <script src="bower_components/backbone/backbone.js"></script>
        <!-- endbower -->
        <!-- endbuild -->

        <script type="text/javascript" src="http://www.parsecdn.com/js/parse-1.2.17.min.js"></script>

        <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
        <script>
            (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
            function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
            e=o.createElement(i);r=o.getElementsByTagName(i)[0];
            e.src='//www.google-analytics.com/analytics.js';
            r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
            ga('create','UA-XXXXX-X');ga('send','pageview');
        </script>

        <!-- build:js scripts/plugins.js -->
        <script src="bower_components/sass-bootstrap/js/affix.js"></script>
        <script src="bower_components/sass-bootstrap/js/alert.js"></script>
        <script src="bower_components/sass-bootstrap/js/dropdown.js"></script>
        <script src="bower_components/sass-bootstrap/js/tooltip.js"></script>
        <script src="bower_components/sass-bootstrap/js/modal.js"></script>
        <script src="bower_components/sass-bootstrap/js/transition.js"></script>
        <script src="bower_components/sass-bootstrap/js/button.js"></script>
        <script src="bower_components/sass-bootstrap/js/popover.js"></script>
        <script src="bower_components/sass-bootstrap/js/carousel.js"></script>
        <script src="bower_components/sass-bootstrap/js/scrollspy.js"></script>
        <script src="bower_components/sass-bootstrap/js/collapse.js"></script>
        <script src="bower_components/sass-bootstrap/js/tab.js"></script>
        <!-- endbuild -->

        <!-- build:js({app,.tmp}) scripts/main.js -->
        <script src="scripts/input-model.js"></script>
        <script src="scripts/list-view.js"></script>
        <script src="scripts/main.js"></script>
        <!-- endbuild -->
</body>
</html>
